*/*/a.out
*/a.out
a.out
*/*/*/*.o
*/*/*.o
*/*.o
*.o
cpp_module_00/ex00/megaphone
cpp_module_00/ex01/PhoneBook
cpp_module_00/ex02/account
cpp_module_01/*/zombie
*/*/program
cpp_module_01/*/replace
cpp_module_01/*/*.replace
cpp_module_01/*/Karen
cpp_module_01/*/karenFilter
*/test
.vscode
.DS_Store
*/*/a.out.dSYM/
cpp_module_05/*/*_shrubbery
